:root {
    --primary-color: #2563eb;
    --secondary-color: #0f172a;
    --accent-color: #22d3ee;
    --neutral-color: #e5e7eb;
    --danger-color: #e63946;
    --dark-accent: #020617;
    --primary-text-color: #ffffff;
    --secondary-text-color: #94a3b8;
    --border: 1px solid #dddddd;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 40px;
    margin-top: 40px;
    box-shadow: var(--box-shadow);
    bottom: 0;
    z-index: 100;
}

.social-media {
    display: flex;
    gap: 27px;
    font-size: 20px;
}

.social-media a {
    color: var(--secondary-text-color);
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: var(--accent-color);
}